<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit a Post</title>
</head>
<body>
<form th:action="@{/posts/{id}/edit (id = ${editPost.getId()})}" th:method="POST" th:object="${editPost}">
    <div>
        <label for="title">Title</label>
        <input id="title" th:field="*{title}">
    </div>
    <div>
        <label for="body">Body</label>
        <textarea id="body" rows="4" th:field="*{body}"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>





